html {
  padding: 0;
  font-family: "Comfortaa", cursive;
  margin: 0;
}

.main {
  padding: 0;
}

.header {
  border-bottom: 1px solid #b6b4b6;
}
.header .container {
  padding: 0;
}
.header .navbar-collapse {
  margin-left: 40px;
}
.header .top-nav-menu {
  margin: 0.5rem 3rem 0 0.25rem;
}
.header .top-nav-menu li {
  list-style-type: none;
  margin-right: 10px;
}
.header .top-nav-menu li a {
  font-family: "Comfortaa", cursive;
  text-decoration: none;
  color: #6a6a6a;
  font-size: 14px;
  letter-spacing: 0.74px;
}
.header .basket-block {
  width: 210px;
  height: 51px;
  border-radius: 5px;
  border: 2px solid #5ed2b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .basket-block .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .basket-block .item p {
  margin-bottom: 0;
  margin-left: 10px;
  color: #5ed2b3;
  font-size: 16px;
}
.header .basket-block .basket-logo {
  display: none;
}
.header .navbar-toggler-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header .navbar-toggler-icon .toggler-icon {
  width: 30px;
  min-height: 3px;
  margin-bottom: 10px;
  background-color: #7b7b7b;
}
.header .navbar-toggler-icon .first {
  background-color: #5ed2b3;
  width: 40px;
}

.products_section {
  font-family: "Comfortaa", cursive;
  margin-top: 40px;
  background-color: #f9f9f9;
  margin-bottom: 80px;
}
.products_section .product_wrap {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 45%;
}
.products_section .product {
  margin-bottom: 15px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.products_section .product .mobile_img {
  display: none;
}
.products_section .product img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.products_section .product .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #5ed2b3;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 5;
}
.products_section .product .product_info {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 10%;
  padding-left: 8%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.products_section .product .product_info h3 {
  font-size: 34px;
  letter-spacing: 1.58px;
  font-weight: 700;
  color: #ffffff;
}
.products_section .product .product_info p {
  font-family: "Comfortaa", cursive;
  color: #ffffff;
  letter-spacing: 0.65px;
  font-size: 17px;
}
.products_section .product .product_info a {
  background-color: #ffffff;
  width: 165px;
  height: 53px;
  color: #5ed2b3;
  font-size: 18px;
  letter-spacing: 0.74px;
  font-weight: 700;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.products_section .product .product_info .about {
  display: none;
}
.products_section .product .product_info .about:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  font-size: 20px;
}
.products_section .product .product_video_info {
  position: absolute;
  top: 0;
  left: 0;
}
.products_section .product .product_video_info .btn_container {
  position: absolute;
  top: calc(50% - 46px);
  right: calc(50% - 46px);
}
.products_section .product .product_video_info .btn_container button {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #5ed2b3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  font-size: 22px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.products_section .product .product_video_info:hover {
  background-color: rgba(94, 210, 179, 0.7);
}
.products_section .product .product_video_info:hover button {
  opacity: 1;
  font-size: 32px;
}
.products_section .product:hover {
  -webkit-box-shadow: 1px 1px #53ea93, 2px 2px #53ea93, 3px 3px #53ea93, 4px 4px #53ea93, 5px 5px #53ea93, 6px 6px #53ea93, 7px 7px #53ea93;
          box-shadow: 1px 1px #53ea93, 2px 2px #53ea93, 3px 3px #53ea93, 4px 4px #53ea93, 5px 5px #53ea93, 6px 6px #53ea93, 7px 7px #53ea93;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}
.products_section .product:hover .background {
  opacity: 0.32;
}
.products_section .product:hover .desktop_img {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.about_us_section {
  width: 100%;
}
.about_us_section_header h2 {
  font-family: "Comfortaa", cursive;
  font-size: 38px;
  letter-spacing: 1.76px;
  color: #4e4e4e;
}
.about_us_section_header h2::after {
  display: block;
  content: "";
  width: 245px;
  height: 2px;
  background-color: #5ed2b3;
  -webkit-transform: translate(170%, -10px);
          transform: translate(170%, -10px);
}
.about_us_section_body {
  margin-top: 35px;
  padding: 0;
}
.about_us_section_body_item:nth-child(2n+1) {
  background-color: #f9f9f9;
}
.about_us_section_body_item {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 42px;
}
.about_us_section_body_item_header {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about_us_section_body_item_header h4 {
  margin-bottom: 0;
  margin-left: 20px;
  color: #5ed2b3;
  font-family: "Comfortaa", cursive;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.1px;
}
.about_us_section_body_item_body p {
  color: #8a8a8a;
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  letter-spacing: 0.72px;
}

.video_section {
  background-color: #f9f9f9;
  font-family: "Comfortaa", cursive;
}
.video_section_header {
  padding-top: 40px;
  margin-bottom: 60px;
}
.video_section_header h2 {
  font-size: 38px;
  color: #4e4e4e;
  letter-spacing: 1.76px;
}
.video_section_body {
  position: relative;
}
.video_section_body img {
  width: 100%;
}
.video_section_body .info_block {
  position: absolute;
  height: 100%;
  top: 12%;
  left: 6%;
}
.video_section_body .info_block p {
  font-size: 16px;
  letter-spacing: 0.74px;
  color: #4b4b4b;
}
.video_section_body .info_block h4 {
  font-size: 34px;
  letter-spacing: 1.58px;
  font-weight: 700;
  color: #4a4a4a;
}
.video_section_body .info_block a {
  text-decoration: none;
  color: #4b4b4b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.65px;
}
.video_section_body .info_block a::after {
  display: block;
  content: "";
  height: 1px;
  background-color: #4b4b4b;
  width: 60px;
  -webkit-transform: translate(120%, -12px);
          transform: translate(120%, -12px);
}
.video_section_body .play_block {
  position: absolute;
  top: calc(50% - 46px);
  left: calc(50% - 46px);
}
.video_section_body .play_block button {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #5ed2b3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  font-size: 22px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.video_section_body:hover .play_block button {
  opacity: 1;
}

.instagram_section {
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: "Comfortaa", cursive;
}
.instagram_section_header {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.instagram_section_header .left h2 {
  color: #4e4e4e;
  font-size: 38px;
  letter-spacing: 1.76px;
}
.instagram_section_header .left h2::after {
  display: block;
  content: "";
  width: 245px;
  height: 2px;
  background-color: #5ed2b3;
  -webkit-transform: translate(140%, -10px);
          transform: translate(140%, -10px);
}
.instagram_section_header .left a {
  color: #5ed2b3;
  font-size: 30px;
  letter-spacing: 1.39px;
}
.instagram_section_header .right a {
  font-size: 18px;
  letter-spacing: 1.34px;
  color: #5ed2b3;
}
.instagram_section_body {
  width: 100%;
  margin-top: 20px;
}
.instagram_section_body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.instagram_section_body_item {
  width: 24%;
  padding: 0;
  position: relative;
  margin-bottom: 15px;
}
.instagram_section_body_item .image img {
  width: 100%;
}
.instagram_section_body_item .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(108, 186, 165, 0.77);
  opacity: 0;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.instagram_section_body_item .info_wrap {
  border: 1px solid #ffffff;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}
.instagram_section_body_item .info_wrap .info_header {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.instagram_section_body_item .info_wrap .info_body {
  text-align: center;
}
.instagram_section_body_item .info_wrap .info_body p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 180px;
  display: block;
}
.instagram_section_body_item .info_wrap .info_footer {
  text-decoration: underline;
  font-size: 21px;
  font-weight: 700;
}
.instagram_section_body_item:hover .info {
  opacity: 0.95;
}

.contact_section {
  padding: 0;
}
.contact_section .contact_section_header {
  font-family: "Comfortaa", cursive;
  padding-top: 40px;
  background-color: #f9f9f9;
}
.contact_section .contact_section_header .container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact_section .contact_section_header_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact_section .contact_section_header_main .left, .contact_section .contact_section_header_main .right {
  border-bottom: 2px solid #5ed2b3;
  height: 2px;
  width: 25%;
}
.contact_section .contact_section_header_main h2 {
  margin: auto 25px 30px 25px;
  color: #4e4e4e;
  font-size: 38px;
  letter-spacing: 1.76px;
}
.contact_section .contact_section_header_info {
  margin-top: 40px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact_section .contact_section_header_info .mobile {
  display: none;
}
.contact_section .contact_section_header_info .phone, .contact_section .contact_section_header_info .email, .contact_section .contact_section_header_info .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact_section .contact_section_header_info .text {
  color: #5ed2b3;
  margin-right: 10px;
}
.contact_section .contact_section_header_info p {
  font-size: 24px;
  letter-spacing: 1.11px;
}
.contact_section .contact_section_header_info .social {
  margin-top: 20px;
}
.contact_section .contact_section_header_info .social a {
  text-decoration: none;
}
.contact_section .contact_section_header_info .social p {
  margin-left: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #5ed2b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.contact_section .contact_section_header_info .social p i {
  color: #ffffff;
  font-size: 34px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.contact_section .contact_section_header_info .social p:hover {
  background-color: #ffffff;
}
.contact_section .contact_section_header_info .social p:hover i {
  color: #5ed2b3;
  font-size: 42px;
}
.contact_section .contact_section_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact_section .contact_section_body .form_container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact_section .contact_section_body .form_container form {
  font-family: "Comfortaa", cursive;
  margin-top: 80px;
  width: 100%;
  margin-bottom: 80px;
}
.contact_section .contact_section_body .form_container form .form_header {
  display: none;
}
.contact_section .contact_section_body .form_container form .user_info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.contact_section .contact_section_body .form_container form .user_info .input-group {
  width: 33%;
  margin: 10px;
}
.contact_section .contact_section_body .form_container form .user_info .form-control {
  border: none;
  font-size: 21px;
  border-bottom: 1px solid #c4c4c4;
}
.contact_section .contact_section_body .form_container form .user_info .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #5ed2b3;
  border-bottom-color: #5ed2b3;
}
.contact_section .contact_section_body .form_container form .user_msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}
.contact_section .contact_section_body .form_container form .user_msg label {
  color: #7b7b7b;
  font-size: 21px;
  padding-left: 20px;
}
.contact_section .contact_section_body .form_container form .user_msg .message {
  border: none;
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  font-size: 21px;
}
.contact_section .contact_section_body .form_container form .user_msg .message:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #5ed2b3;
}
.contact_section .contact_section_body .form_container form .form_submit {
  width: 308px;
  height: 45px;
  background-color: #5ed2b3;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.74px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contact_section .contact_section_body .form_container form .form_submit:hover {
  border: 3px solid #5ed2b3;
  background-color: #ffffff;
  color: #5ed2b3;
}
.contact_section .contact_section_body .form_container form .form_info p {
  font-size: 16px;
  color: #d3d3d3;
  letter-spacing: 0.74px;
}
.contact_section .toTopContainer {
  position: relative;
}
.contact_section .toTopContainer .toTop {
  position: absolute;
  bottom: 20px;
  right: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.contact_section .toTopContainer .toTop:hover {
  bottom: 30px;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.videoModal {
  font-family: "Comfortaa", cursive;
}
.videoModal .modal-dialog {
  margin-right: 0;
  margin-left: 0;
}
.videoModal .modal-content {
  position: relative;
  min-width: 900px;
  max-width: 1000px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding-left: 80px;
}
.videoModal .modal-content .modal_video_block {
  width: 100%;
  height: 450px;
}
.videoModal .modal-content .modal_video_block iframe {
  width: 100%;
  height: 100%;
  margin-left: 80px;
}
.videoModal .modal-content .close {
  width: 60px;
  height: 60px;
  position: absolute;
  right: -15%;
  top: -8%;
  font-size: 80px;
  color: #5ed2b3;
}

.footer {
  background-color: #5ed2b3;
  padding-top: 40px;
  font-family: "Comfortaa", cursive;
}
.footer .container {
  padding-top: 20px;
  border-top: 1px solid #7b7b7b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .container a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 420px) {
  .header {
    padding: 0;
    border: none;
  }
  .header .container .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .header .container .navbar .navbar-brand {
    margin-left: 15px;
  }
  .header .container .navbar .navbar-collapse {
    margin: 0;
  }
  .header .container .top-nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0 60px 0;
  }
  .header .container .top-nav-menu li a {
    font-size: 24px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 1.11px;
  }
  .header .container .basket-block {
    width: 100%;
    min-height: 140px;
    border: none;
    border-top: 3px solid #5ed2b3;
    border-bottom: 3px solid #5ed2b3;
    border-radius: 0;
  }
  .header .container .basket-block .basket-logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #5ed2b3;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 32px;
  }
  .header .container .basket-block .basket-img {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  .header .container .basket-block .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .container .basket-block .item p {
    font-size: 24px;
    letter-spacing: 1.11px;
  }

  .about_us_section, .instagram_section, .video_section, .toTopContainer {
    display: none;
  }

  .products_section {
    background-color: #ffffff;
    margin-top: 5px;
    padding: 0;
  }
  .products_section .product_video {
    display: none !important;
  }
  .products_section .product {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products_section .product:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
  }
  .products_section .product .mobile_img {
    display: block;
  }
  .products_section .product .desktop_img {
    display: none;
  }
  .products_section .product .product_info {
    position: relative;
    padding: 35px 40px;
    background-color: #ffffff;
    margin-top: -15%;
    width: 87.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .products_section .product .product_info .about {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #525252;
    font-size: 14px;
    letter-spacing: 0.74px;
  }
  .products_section .product .product_info .desktop_p {
    display: none;
  }
  .products_section .product .product_info h3 {
    color: #424242;
    font-size: 32px;
    letter-spacing: 1.58px;
    margin-top: 10px;
  }
  .products_section .product .product_info .btn {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #5ed2b3;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.74px;
    margin-top: 20px;
  }

  .contact_section {
    background-color: #ffffff;
  }
  .contact_section .left, .contact_section .right {
    display: none;
  }
  .contact_section .contact_section_header {
    background-color: #ffffff;
    padding: 0;
  }
  .contact_section .contact_section_header_main {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact_section .contact_section_header_main h2 {
    font-size: 29px;
    letter-spacing: 1.76px;
    border-bottom: 1px solid #5ed2b3;
    text-align: center;
    margin: 0;
  }
  .contact_section .contact_section_header_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact_section .contact_section_header_info p {
    font-size: 20px;
    color: #4e4e4e;
    letter-spacing: 0.93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact_section .contact_section_header_info .desktop {
    display: none;
  }
  .contact_section .contact_section_header_info .mobile {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #5ed2b3;
    color: #ffffff;
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact_section .contact_section_header_info .mobile_phone {
    -webkit-transform: rotate(110deg);
            transform: rotate(110deg);
  }
  .contact_section .contact_section_header_info .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0;
  }
  .contact_section .contact_section_header_info .social a {
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact_section .contact_section_header_info .social a p {
    margin: 0;
    width: 42px;
    height: 42px;
    font-size: 18px;
  }
  .contact_section .contact_section_header_info .social a .mobile {
    background-color: #ffffff;
    border-radius: 0;
    border: none;
    color: #5ed2b3;
    display: block;
    margin-left: 20px;
    font-size: 20px;
    text-decoration: underline;
    letter-spacing: 0.93px;
  }
  .contact_section .contact_section_body .form_container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .contact_section .contact_section_body .form_container .form_header {
    display: block !important;
    color: #4e4e4e;
    font-size: 29px;
    letter-spacing: 1.76px;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .contact_section .contact_section_body .form_container .user_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px !important;
  }
  .contact_section .contact_section_body .form_container .user_info .input-group {
    min-width: 100%;
  }
  .contact_section .contact_section_body .form_container .user_msg label {
    padding-left: 3px !important;
  }

  .footer {
    padding-top: 0;
    background-color: #3b937c;
  }
  .footer .container {
    border: none;
  }
  .footer .container p {
    font-size: 20px;
    letter-spacing: 0.93px;
    color: #ffffff;
  }
  .footer .container .desktop {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */